fastapi
uvicorn
selenium
bs4
requests
python-telegram-bot
flask
flask_session
flask-session
gunicorn
redis
aioredis
python-dotenv
asyncio
python-multipart
starlette
starlette-csrf
cryptography